* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.icons {
    color: rgb(19, 185, 19);
    font-size: 60px;


}

.top {
    color: rgb(72, 77, 77);
}